# Ignore these files for GitHub

.env
*.pem
scraper.log
*.log
.DS_Store
venv/
node_modules/
types-registry/
__pycache__/
chatbot/chatbot_env/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib
*.pyc