/* src/styles/MessageItem.css */

.message-item {
  margin-bottom: 20px;
  display: flex;
}
.message-content {
  padding: 15px;
  border-radius: 8px;
  max-width: 80%;
  line-height: 1.5;
  font-size: 16px;
}

.user-message {
  justify-content: flex-end;
}

.user-message .message-content {
  background-color: #0b0d0e;
  color: #fff;
}

.bot-message {
  justify-content: flex-start;
}

.bot-message .message-content {
  background-color: #444654;
  color: #fff;
}
/* Feedback Buttons */
.feedback-buttons {
  display: flex;
  margin-top: 5px;
}

.feedback-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
}

.feedback-button:hover {
  color: #007bff; /* Change color on hover */
}

.feedback-button.like-button:hover {
  color: #28a745; /* Green for like */
}

.feedback-button.dislike-button:hover {
  color: #dc3545; /* Red for dislike */
}
.feedback-thanks {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}