/* src/styles/MessageItem.css */

.message-item {
  margin-bottom: 20px;
  display: flex;
}
.message-content {
  padding: 15px;
  border-radius: 8px;
  max-width: 80%;
  line-height: 1.5;
  font-size: 16px;
}

.user-message {
  justify-content: flex-end;
}

.user-message .message-content {
  background-color: #0b0d0e;
  color: #fff;
}

.bot-message {
  justify-content: flex-start;
}

.bot-message .message-content {
  background-color: #444654;
  color: #fff;
}