/* Used in App.jsx to position the Avatar */

.split-screen {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .top-pane {
    width: 65%; 
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  /* Center avatar to full screen width for smaller browser window due to vertical stack*/
  @media (max-width: 1000px) { 
    .top-pane {
      width: 100%; 
    }
  }