.message-item {
  max-width: 70%;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.user {
  align-self: flex-end;
  background-color: #dcf8c6;
  color: black;
}

.bot {
  align-self: flex-start;
  background-color: #e9ecef;
  color: #333;
}

.feedback-buttons {
  display: flex;
  margin-top: 5px;
  position: relative;
}

.feedback-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
}

.feedback-button:hover {
  color: #007bff; /* Change color on hover */
}

.feedback-button.like-button:hover {
  color: #28a745; /* Green for like */
}

.feedback-button.dislike-button:hover {
  color: #dc3545; /* Red for dislike */
}
.feedback-thanks {
  font-size: 13px;
}

/* Typing Indicator */
.typing-indicator {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.typing-indicator .dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #999;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
