@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
} 

body {
  margin: 0;
  background-image: url('./backgrounds/avatar_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;   
}


body.avatar_bg {
  margin: 0;
  background-image: url('./backgrounds/avatar_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center; 
}

body.avatar_bg2 {
  margin: 0;
  background-image: url('./backgrounds/avatar_bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center; 
}

body.avatar_bg3 {
  margin: 0;
  background-image: url('./backgrounds/avatar_bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center; 
}

body.avatar_bg4 {
  margin: 0;
  background-image: url('./backgrounds/avatar_bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center; 
}
